@inherits ComponentViewBase;
<div @ref="Container" id="@ContainerId" class="@When(HasFullscreenValue, ExpandedContainerClass, CollapsedContainerClass)">
	<CascadingValue Value="FullscreenController" IsFixed="true">
		@ChildContent
	</CascadingValue>
</div>