@attribute [Route("/Account/Logout")]
@attribute [Page("Logout/Title", IsNavbarView = false)]
@inherits NavigationPageBase

<div>
	<h2>
		<Translatable Key="Logout/Title"/>
	</h2>
	<div>
		<Translatable Key="Logout/ThanksForVisit"/>
	</div>
</div>