@inherits NavigationPageBase


<NotLoadedGuardComponent @bind-ViewState="ViewState">
	<EditForm Model="Model"
			  OnValidSubmit="Save">
		<fieldset>
			<legend>
				<Translatable Key="Common/Password" />
			</legend>
			<FieldControl Label="UserSettings/Settings.Password.Old"
						  FieldType="FieldTypes.Password"
						  @bind-Value="Model.OldPassword" />
			<FieldControl Label="UserSettings/Settings.Password.New"
						  FieldType="FieldTypes.Password"
						  @bind-Value="Model.NewPassword" />
			<FieldControl Label="Common/Confirm"
						  FieldType="FieldTypes.Password"
						  @bind-Value="Model.NewPasswordConfirm" />

			<button class="btn btn-outline-primary">
				<Translatable Key="Common/Save" />
			</button>

			<ServerErrorsComponent ServerErrorManager="ServerErrorManager" />
			<DataAnnotationsValidator />
			<ValidationSummary />
		</fieldset>
	</EditForm>
</NotLoadedGuardComponent>