html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #212529;
    color: #fff;
  }
}
@media (prefers-color-scheme: light) {
  html, body {
    background-color: #222;
    color: #212529;
  }
}
#blazor-error-ui {
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.body-loading-overlay {
  margin: 0px;
  height: 100%;
  width: 100%;
}
.body-loading-overlay p {
  margin: 0;
}
.body-loading-overlay img {
  max-width: 100%;
  height: auto;
}
.body-loading-overlay .body-loading {
  display: none !important;
  height: 0;
  width: 0;
  left: 50%;
}
.body-loading-overlay .body-loading-img-overlay {
  height: 64px !important;
  width: 60px;
}
.body-loading-overlay .progress {
  width: 35rem;
  margin-left: auto;
  margin-right: auto;
}
.body-loading-overlay .progress progress {
  width: 100%;
}
.body-loading-overlay ul#items-list {
  overflow: hidden;
  list-style: none;
}
@media (prefers-color-scheme: dark) {
  .body-loading-overlay ul#items-list :nth-child(3) {
    color: rgba(255, 255, 255, 0.8333333333);
  }
  .body-loading-overlay ul#items-list :nth-child(4) {
    color: rgba(255, 255, 255, 0.6666666667);
  }
  .body-loading-overlay ul#items-list :nth-child(5) {
    color: rgba(255, 255, 255, 0.5);
  }
  .body-loading-overlay ul#items-list :nth-child(6) {
    color: rgba(255, 255, 255, 0.3333333333);
  }
  .body-loading-overlay ul#items-list :nth-child(7) {
    color: rgba(255, 255, 255, 0.1666666667);
  }
  .body-loading-overlay ul#items-list :nth-child(8) {
    color: rgba(255, 255, 255, 0);
  }
}
@media (prefers-color-scheme: light) {
  .body-loading-overlay ul#items-list :nth-child(3) {
    color: rgba(33, 37, 41, 0.8333333333);
  }
  .body-loading-overlay ul#items-list :nth-child(4) {
    color: rgba(33, 37, 41, 0.6666666667);
  }
  .body-loading-overlay ul#items-list :nth-child(5) {
    color: rgba(33, 37, 41, 0.5);
  }
  .body-loading-overlay ul#items-list :nth-child(6) {
    color: rgba(33, 37, 41, 0.3333333333);
  }
  .body-loading-overlay ul#items-list :nth-child(7) {
    color: rgba(33, 37, 41, 0.1666666667);
  }
  .body-loading-overlay ul#items-list :nth-child(8) {
    color: rgba(33, 37, 41, 0);
  }
}
.body-loading-overlay ul#items-list :nth-child(n+7) {
  opacity: 0;
}

.center-block {
  left: 50%;
  right: 50%;
  display: block;
  /*margin-left: auto;
      margin-right: auto;*/
}

.center-element {
  left: 50%;
  right: 50%;
  display: block;
  /* margin-left: auto;
      margin-right: auto;*/
  text-align: center;
}

noscript {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: gray;
}
@media (prefers-color-scheme: dark) {
  noscript {
    background-color: #212529;
    color: #fff;
  }
}
@media (prefers-color-scheme: light) {
  noscript {
    background-color: #222;
    color: #212529;
  }
}/*# sourceMappingURL=pre-app.css.map */